
.incoming {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 30%;
    left:20%;
    bottom: 30%;
    padding: 10px;
    position: relative;
    display: inline-block;
    margin-top: 20%;
    color: white;
    font-size: 1em;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
    background-color: black;
}
    
