
body {
  background-image: url("background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  }

#form{
  display: table;
  margin: 0 auto;  
  border-radius: 6% ;
  width: 30%;
  height: 63%;
  background-color: rgb(255, 255, 255,0.68);
}

#loginButton{
  display: table;
  margin: 0 auto;  
}

#registration{
  padding-top: 30%;
  display: table;
  margin: 0 auto;
}

.inputAndTitle{
  display: table;
  margin: 0 auto;
  padding-bottom: 2%;
}