
body {
    background-image: url("img.webp");
    font-family: sans-serif;
  }

#form{
  border-radius: 6% ;
  width: 50%;
  height: 65%;
  background-color: rgb(255, 255, 255);
}

#loginButton{
  display: table;
  margin: 0 auto;  
}

#registration{
  padding-top: 30%;
  display: table;
  margin: 0 auto;
}

.inputAndTitle{
  display: table;
  margin: 0 auto;
  padding-bottom: 2%;
}