


.bottom-bar {
    position: relative;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: white;
    border-radius: 20px;
    border-top-left-radius:0px ;
    border-top-right-radius:0px ;

}

.send{
    border:solid rgba(255, 0, 0, 0);
    background-color: white;

}
.type_msg {position: relative; }
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: black;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right:1.2%;
    border: 0;
    border: 1px solid rgba(7, 7, 7, 0.34);
    top: 15%;
    width: 33px;
}
.functionality{
    background: rgba(5, 114, 143, 0.46) none repeat scroll 0 0;
    border: black;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right:5%;
    border: 0;
    border: 1px solid rgba(7, 7, 7, 0.34);
    top: 15%;
    width: 33px;

}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border:  0;
    right:10px;
    color: black;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    box-shadow: none;
}


.btn{
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0) !important;

}


.add-functaionality{
    background: rgba(5, 114, 143, 0.24) none repeat scroll 0 0;

    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    left:1%;
    border: 0;
    top: 15%;

    width: 33px;
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 50%;
}

.myfunction{
    position: absolute !important;
    top: -20px;
    right: 50px;
    margin-bottom:50px;
    border-radius: 50%;
    width: 10%;
}

.dropdown-menu{
    min-width: 0px !important;
    border-radius: 10px;
    background-color: rgba(40, 44, 52, 0.47);
}