
.input-group{
    width:80%;
    height: 70%;
    position:relative; 
    
   

}
.h{
    margin-top: 58%;
}
.form-control{
    height: 40px;
}
.btn-outline-secondary{
    color: black;
    width: 10%;
}
