.input-group{
    position:absolute;
    top:90%;
    right: 5%;
    left: 05;

}
.input-group{
    width:200%;
    height: 30px;
}
.form-control{
    height: 40px;
}
.btn-outline-secondary{
    color: black;
    width: 10%;
}
