
.incoming {
    width: 30%;
    position: relative;
    right: inherit;
    margin: 1%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    font-size: 1em;
    padding: 10px 10px 10px 12px;
    color: #000000;
    background-color: rgba(229, 219, 219, 0.65);

    /*width: 30%;*/
    /*top: 5%;*/

    /*left: 68%;*/

    /*position: relative;*/
    /*margin: 1%;*/
    /*font-size: 1em;*/
    /*padding: 10px 10px 10px 12px;*/
    /*border-radius: 20px;*/
    /*border-bottom-right-radius: 0px;*/
    /*color: #000000;*/
    /*background-color: rgba(229, 219, 219, 0.65);*/
}
.message-time{
    font-size: 60%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.53);
}





    
