
.incoming {

    width: 30%;
    top: 5%;

    left: 68%;

    position: relative;
    margin: 1%;
    color: white;
    font-size: 1em;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    background-color: black;
}






    
