.userData{
    position: relative;
    width: 100%;

    padding: 1%;

    height: 79px;
    padding: 2.5%;

    padding-left: 0px;
    background-color:rgb(194 190 190 / 42%);
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    min-width: 0px;

}

#addConversation{
    border: 0;
    border-radius: 50%;
    float: right;
    position: relative;
    margin-top: 2%;
    margin-right: 2%;
}

